*{
    margin:0px;
    padding:0px;
    font-family: 'Salsa', cursive;
}
body{
    background-color:rgb(60, 6, 117);
}
.card{
    width:90%;
    max-width:400px;
    border-radius:20px;
    background:linear-gradient(135deg,rgb(108, 234, 196),rgb(36, 71, 197));
    text-align:center;
    margin:100px auto;
    padding:25px 40px;
    color:white;
}
.search{
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.search input{
    outline:none;
    background-color:rgb(162, 247, 250);
    color:blue;
    padding:10px 25px;
    height:30px;
    border-radius:30px;
    font-size:18px;
    flex:1;
    margin-right:15px;
}

.search button{
    outline:none;
    border-radius:50%;
    background-color:rgb(162, 247, 250);
    cursor:pointer;
    width:50px;
    height:50px;
}

.search button:hover{
    background-color:rgb(34, 180, 229);
}

.search button img{
    width:16px;
}

.weather_icon{
    width:170px;
}

.weather h1{
    font-size:80px;
    font-weight:500;
}

.weather h2{
    font-size:45px;
    font-weight:400;
    margin-top:-10px;
}

.details{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0px 20px;
    margin-top:50px;
}

.col{
    display:flex;
    align-items:center;
    text-align:left;
}

.col img{
    width:60px;
    margin-right:10px;
}

.humidity, .wind{
    font-size:28px;
    margin-top:-6px;
}

.weather{
    display:none;
}

.error{
    text-align:left;
    color:white;
    font-size:14px;
    display:none;
}